{% set almanach = attribute(almanach, framework) %}
{% set classes = classes is defined ? classes : [] %}
{% set attributes = attributes is defined ? attributes : {} %}
{% set link = link|default('#') %}
{% set tag = tag|default('button') %}

{% set classes = classes|merge([
    "btn",
    "dropdown-toggle",
    attribute(almanach.splitDropdownButton.theme, theme),
    attribute(almanach.splitDropdownButton.size, size),
    attribute(almanach.splitDropdownButton.state, state),
    attribute(almanach.splitDropdownButton.border, border)
]) %}

{% set attributes = attributes|merge({
    "type": "button",
    "data-toggle": "dropdown",
    "aria-haspopup": "true",
    "aria-expanded": "false"
}) %}

{% if tag == 'a' %}
    {% set link = {href: link} %}
    {% set attributes = attributes|merge(link) %}
{% endif %}

<div class="btn-group">
    <{{ tag }}
        {% if tag == 'a' %} href="{{ link|default('#') }}" {% endif %}
        class="btn {{ attribute(almanach.splitDropdownButton.theme, theme) }} {{ attribute(almanach.splitDropdownButton.size, size) }}
        {{ attribute(almanach.splitDropdownButton.state, state) }} {{ attribute(almanach.splitDropdownButton.border, border) }}"
    >
        {% block content %}
            {{ content|raw }}
        {% endblock %}
    </{{ tag }}>

    <{{ tag }}
        {% include 'AlmanachBundle:bricks/global:attributes.html.twig' with {
            classes: classes,
            attributes: attributes
        } only %}
    >
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
    </{{ tag }}>

    <ul class="dropdown-menu">
        {#{% for item in list %}#}
            {#<li><a href="{{ item.link }}">{{ item.label }}</a></li>#}
        {#{% endfor %}#}
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
    </ul>
</div>