{##
 # ALLOWED PARAMETERS
 # type : [default, primary, success, information, warning, error, link]
 # size : [default, expanded, extraSmall, hidden, large, medium, round, radius, small]
 # active / disabled
 #}

{#Tag par défault pour cette feature : #}
{% set tag = tag|default('button') %}

{#Class par défault pour cette feature : #}
{% set almanach = attribute(almanach, framework) %}
{% set classes = ["btn", attribute(almanach.splitDropdownButton.theme, theme), attribute(almanach.splitDropdownButton.size, size), attribute(almanach.splitDropdownButton.state, state), attribute(almanach.splitDropdownButton.border, border), "dropdown-toggle"] %}

{#Fonction permettant de merge des class créées aux classes de base de la features : #}
{% if class is defined %}
    {% set classes = classes|merge(class) %}
{% endif %}

{#Attributs par défault pour cette feature : #}
{% set defaultAttributes = {"type": "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false", 'class': classes|join(' ')} %}
{% set link = link|default('#') %}
{% if tag == 'a' %}
    {% set link = {href: link} %}
    {% set defaultAttributes = defaultAttributes|merge(link) %}
{% endif %}

{#Fonction permettant de fusionner des attributs crées aux attributs de base de la features : #}
{% if attributes is defined %}
    {% set defaultAttributes = defaultAttributes|merge(attributes) %}
{% endif %}

{#Markup de base de cette feature pour BOOTSTRAP : #}
<div class="btn-group">
    <{{ tag }}
        {% if tag == 'a' %} href="{{ link|default('#') }}" {% endif %}
        class="btn {{ attribute(almanach.splitDropdownButton.theme, theme) }} {{ attribute(almanach.splitDropdownButton.size, size) }}
        {{ attribute(almanach.splitDropdownButton.state, state) }} {{ attribute(almanach.splitDropdownButton.border, border) }}">
        {% block content %}{{ content|raw }}{% endblock %}
    </{{ tag }}>

    <{{ tag }}
        {% for attr, value in defaultAttributes %}
            {{ attr }}="{{ value|e("html_attr") }}"
            {% if not loop.last %}
            {% endif %}
        {% endfor %}
    >
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
    </{{ tag }}>

    <ul class="dropdown-menu">
        {#{% for item in list %}#}
            {#<li><a href="{{ item.link }}">{{ item.label }}</a></li>#}
        {#{% endfor %}#}
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
    </ul>
</div>