<h3><b><i>Alerts</i></b></h3>
<h4><b>- Global use :</b></h4>
<ul>
    <li>
        <b>Twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_alert(
    $content,
    $framework, {
        theme: 'YOUR_THEME',
        border: 'YOUR_BORDER',
    })
}}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        <b>Twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_alert.html.twig' with {
    content: 'YOUR_CONTENT',
    framework: 'YOUR_FRAMEWORK',
    theme: 'YOUR_THEME',
    border: 'YOUR_BORDER',
 } only %}
    {% block contentAlert %}
        {# contentAlert #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>

<h4><b>- Table of parameters :</b></h4>
<table class="flat-table">
    <tbody>
    <tr>
        <th class="flat-table-th"><b>PARAMETERS</b></th>
        <th class="flat-table-th"><b>POTENTIAL</b></th>
        <th class="flat-table-th"><b>DESCRIPTION</b></th>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Content : (Required)</b></td>
        <td class="flat-table-td"><i>"String" or Another twig extension</i></td>
        <td class="flat-table-td"><i>Content of your Alert</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Framework : (Required)</b></td>
        <td class="flat-table-td"><i>Bootstrap / Foundation</i></td>
        <td class="flat-table-td"><i>The framework that you want to use</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Theme : (Optional)</b></td>
        <td class="flat-table-td">
            <ul style="list-style-type: none; padding: 0;">
                <li><i>default</i></li>
                <li><i>error</i></li>
                <li><i>information</i></li>
                <li><i>link</i></li>
                <li><i>primary</i></li>
                <li><i>secondary</i></li>
                <li><i>success</i></li>
                <li><i>warning</i></li>
            </ul>
        </td>
        <td class="flat-table-td"><i>Theme of your Alert</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Border : (Optional)</b></td>
        <td class="flat-table-td">
            <ul style="list-style-type: none; padding: 0;">
                <li><i>default</i></li>
                <li><i>round</i></li>
                <li><i>radius</i></li>
                <li><i>dismissible</i></li>
            </ul>
        </td>
        <td class="flat-table-td"><i>Border of your Alert</i></td>
    </tr>
    </tbody>
</table>

<h4><b>- Rendering example :</b></h4>
<ul style="list-style-type: none; padding: 0;">
    <li>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_alert(
    'Your alert with 'error' theme and 'default' border !',
    $framework, {
        theme: 'error',
    })
}}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        {{ almanach_alert(
        "Your alert with 'error' theme and 'default' border !",
            framework, {
                theme: 'error',
            })
        }}
    </li>
</ul>
<hr><br>
