<h3><b>Alerts</b></h3>
<h4>- Use</h4>
<ul>
    <li>
        <b>with twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_alert($content, $framework, $theme = 'default', $border = 'default', $class = [], $attr = [], $tag = null, $link = null) }}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        <b>with twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_alert.html.twig' with {content: content, framework: framework, ... } only %}
    {% block content %}
        {# content #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>
<br><h4>- parameters:</h4>
<ul>
    <li>
        <b>content</b>: content of your alert.
    </li>
    <li>
        <b>framework</b>: framework you are using.
        <ul>
            <li>bootstrap</li>
            <li>foundation</li>
        </ul>
    </li>
    <li>
        <b>theme</b>: theme of your alert.
        <ul>
            <li>default</li>
            <li>error</li>
            <li>information</li>
            <li>link</li>
            <li>primary</li>
            <li>secondary</li>
            <li>success</li>
            <li>warning</li>
        </ul>
    </li>
    <li>
        <b>border</b>: border of your alert.
        <ul>
            <li>default</li>
            <li>round</li>
            <li>radius</li>
            <li>dismissible</li>
        </ul>
    </li>
</ul>
<h4>- example</h4>
<ul style="list-style-type: none">
    <li>
        {% spaceless %}
            <pre>
                {{- "{{ almanach_alert('Your 'error' and 'radius' alert !', framework, 'error', 'default', [], [], 'button') }}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        {{ almanach_alert('Your "error" and "radius" alert !', framework, {
            theme: 'error',
            border: 'default',
        },
        [],
        [],
        'button'
        ) }}
    </li>
    <hr>
    <li>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_alert.html.twig' with {framework: framework, theme: 'warning', border: 'round', tag: 'button' } only %}
    {% block content %}
        Your 'warning' and 'round' alert !
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_alert.html.twig' with {framework: framework, theme: 'warning', border: 'round', tag: 'button' } only %}
            {% block content %}
                Your "warning" and "round" alert !
            {% endblock %}
        {% endembed %}
    </li>
    <hr>
    <li>
        {{ almanach_alert('Your "information" and "round" alert !', framework, {
            theme: 'success',
            border: 'radius',
        },
        [],
        [],
        'button'
        ) }}
    </li>
</ul>
