<h3><b>Alignment Text</b></h3>
<h4>- Use</h4>
<ul>
    <li>
        <b>with twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_alignmentText($content, $framework, $alignment = 'default', $class = [], $attr = [], $tag = null, $link = null) }}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        <b>with twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_alignmentText.html.twig' with {content: content, framework: framework, ... } only %}
    {% block content %}
        {# content #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>
<br><h4>- parameters:</h4>
<ul>
    <li>
        <b>content</b>: content of your alignment text.
    </li>
    <li>
        <b>framework</b>: framework you are using.
        <ul>
            <li>bootstrap</li>
            <li>foundation</li>
        </ul>
    </li>
    <li>
        <b>alignment</b>: alignment of your text.
        <ul>
            <li>left</li>
            <li>center</li>
            <li>right</li>
            <li>justify</li>
        </ul>
    </li>
</ul>
<h4>- example</h4>
<ul style="list-style-type: none">
    <li>
        {% spaceless %}
            <pre>
                {{- "{{ almanach_alignmentText('Your 'left' alignment text !', framework, 'left') }}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        {{ almanach_alignmentText('Your "left" alignment text !', framework,
            {
                alignment: 'left',
            }
        )}}
    </li>
    <hr>
    <li>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_alignmentText.html.twig' with {framework: framework, alignment: 'right' } only %}
    {% block content %}
        Your 'right' alignment text !
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_alignmentText.html.twig' with {framework: framework, alignment: 'right' } only %}
            {% block contentAlignmentText %}
                Your "right" alignment text !
            {% endblock %}
        {% endembed %}
    </li>
</ul>
