<h3><b>Button group</b></h3>
<h4>+ Use</h4>
<ul>
    <li>
        <b>with twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_buttonGroup($content, $framework, $theme = 'default', $size = 'default', $state = 'default', $border = 'default', $group = 'default', $class = [], $attributes = [], $tag = null, $link = null) }}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        <b>with twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_buttonGroup.html.twig' with {content: content, framework: framework, ... } only %}
    {% block content %}
        {# content #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>
<br><h4>+ parameters:</h4>
<ul>
    <li>
        <b>content</b>: content of your split dropdown button.
    </li>
    <li>
        <b>framework</b>: framework you are using.
        <ul>
            <li>bootstrap</li>
            <li>foundation</li>
        </ul>
    </li>
    <li>
        <b>theme</b>: theme of your button group.
        <ul>
            <li>default</li>
            <li>error</li>
            <li>information</li>
            <li>link</li>
            <li>primary</li>
            <li>secondary</li>
            <li>success</li>
            <li>warning</li>
        </ul>
    </li>
    <b>size</b>: size of your button group.
    <ul>
        <li>default</li>
        <li>extra_small</li>
        <li>small</li>
        <li>medium</li>
        <li>large</li>
        <li>expanded</li>
    </ul>
    </li>
    <b>state</b>: state of your button group.
    <ul>
        <li>default</li>
        <li>active</li>
        <li>disabled</li>
    </ul>
    </li>
    <li>
        <b>border</b>: border of your button group.
        <ul>
            <li>default</li>
            <li>round</li>
            <li>radius</li>
        </ul>
    </li>
    <li>
        <b>group</b>: group of your button group.
        <ul>
            <li>default</li>
            <li>stack</li>
            <li>stackForSmall</li>
            <li>vertical</li>
        </ul>
    </li>
</ul>
<h4>+ example</h4>
<ul style="list-style-type: none">
            <li>
                {{ almanach_buttonGroup([
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'success',
                            attr: {
                                type: 'button'
                            }
                        }),
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'success',
                            attr: {
                                type: 'button'
                            }
                        }),
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'success',
                            attr: {
                                type: 'button'
                            }
                        }),
                    ],
                    framework, {
                        class: [
                            'btn-group-vertical'
                        ]
                    })
                }}
                {{ almanach_buttonGroup([
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'success',
                            attr: {
                                type: 'button'
                            }
                        }),
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'success',
                            attr: {
                                type: 'button'
                            }
                        }),
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'success',
                            attr: {
                                type: 'button'
                            }
                        }),
                    ],
                    framework, {
                        size: 'large',
                        class: [
                            'btn-group-vertical'
                        ]
                    })
                }}
                <br>
                <br>

                {{ almanach_buttonGroup([
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'error',
                            attr: {
                                type: 'button'
                            }
                        }),
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'error',
                            attr: {
                                type: 'button'
                            }
                        }),
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'error',
                            attr: {
                                type: 'button'
                            }
                        }),
                    ],
                    framework, {
                        size: 'small',
                        class: [
                            'btn-group'
                        ]
                    })
                }}

                {{ almanach_buttonGroup([
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'error',
                            attr: {
                                type: 'button'
                            }
                        }),
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'error',
                            attr: {
                                type: 'button'
                            }
                        }),
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'error',
                            attr: {
                                type: 'button'
                            }
                        }),
                    ],
                    framework, {
                        size: 'large',
                        class: [
                            'btn-group'
                        ]
                    })
                }}

                <br>
                <br>

                {{ almanach_buttonGroup([
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'warning',
                            attr: {
                                type: 'button'
                            }
                        }),
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'warning',
                            attr: {
                                type: 'button'
                            }
                        }),
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'warning',
                            attr: {
                                type: 'button'
                            }
                        }),
                    ],
                    framework, {
                        group: 'expanded',
                        class: [
                            'btn-group'
                        ]
                    })
                }}
                <br>

                {{ almanach_buttonGroup([
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'warning',
                            attr: {
                                type: 'button'
                            }
                        }),
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'warning',
                            attr: {
                                type: 'button'
                            }
                        }),
                    almanach_button(
                        'Button',
                        framework, {
                            theme: 'warning',
                            attr: {
                                type: 'button'
                            }
                        }),
                    ],
                    framework, {
                        size: 'large',
                        group: 'expanded',
                        class: [
                            'btn-group'
                        ]
                    })
                }}

                {#{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_buttonGroup.html.twig' with {framework: framework, theme: 'success', size: 'large', state: 'disabled', border: 'round', group: 'stack'} only %}#}
                    {#{% block contentButtonGroup %}#}
                        {#Button#}
                    {#{% endblock %}#}
                {#{% endembed %}#}
            </li>
        </ul>
    </li>
</ul>
