<h3><b>Buttons</b></h3>
<h4>+ Use</h4>
<ul>
    <li>
        <b>with twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_button($content, $framework, $theme = 'default', $size = 'default', $state = 'default', $border = 'default', $class = [], $attr = [], $tag = null, $link = null) }}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        <b>with twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_button.html.twig' with {content: content, framework: framework, ... } only %}
    {% block content %}
        {# content #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>
<br><h4>+ parameters:</h4>
<ul>
    <li>
        <b>content</b>: content of your button.
    </li>
    <li>
        <b>framework</b>: framework you are using.
        <ul>
            <li>bootstrap</li>
            <li>foundation</li>
        </ul>
    </li>
    <li>
        <b>theme</b>: theme of your button.
        <ul>
            <li>default</li>
            <li>error</li>
            <li>information</li>
            <li>link</li>
            <li>primary</li>
            <li>secondary</li>
            <li>success</li>
            <li>warning</li>
        </ul>
    </li>
        <b>size</b>: size of your button.
        <ul>
            <li>default</li>
            <li>extra_small</li>
            <li>small</li>
            <li>medium</li>
            <li>large</li>
            <li>expanded</li>
        </ul>
    </li>
        <b>state</b>: state of your button.
        <ul>
            <li>default</li>
            <li>active</li>
            <li>disabled</li>
        </ul>
    </li>
    <li>
        <b>border</b>: border of your button.
        <ul>
            <li>default</li>
            <li>round</li>
            <li>radius</li>
        </ul>
    </li>
</ul>
<h4>+ example</h4>
<ul style="list-style-type: none">
    <li>
        {{ almanach_button( 'Button', framework) }}

        {{ almanach_button( 'Button', framework, {
            size: 'extra_small',
            theme: 'error',
            border: 'radius',
        }) }}

        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_button.html.twig' with {framework: framework, theme: 'error', size: 'extra_small', state: 'active', border: 'radius'} only %}
            {% block contentButton %}
                Button
            {% endblock %}
        {% endembed %}

        {{ almanach_button( 'Button', framework, {
            size: 'medium',
            theme: 'success',
            border: 'radius',
        }) }}

        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_button.html.twig' with {framework: framework, theme: 'success', size: 'medium', state: 'disabled', border: 'radius'} only %}
            {% block contentButton %}
                Button
            {% endblock %}
        {% endembed %}

        {{ almanach_button( 'Button', framework, {
            size: 'large',
            theme: 'warning',
            border: 'round',
        }) }}

        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_button.html.twig' with {framework: framework, theme: 'warning', size: 'large', state: 'active', border: 'round'} only %}
            {% block contentButton %}
                Button
            {% endblock %}
        {% endembed %}
    </li>
</ul>
