<h3><b><i>Container Fluid</i></b></h3>
<h4><b>- Global use :</b></h4>
<ul>
    <li>
        <b>Twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_containerFluid(
    $content,
    {
        classContFluid: 'YOUR_CLASSCONTFLUID',
    })
}}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        <b>Twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_containerFluid.html.twig' with {
    content: 'YOUR_CONTENT',
    framework: 'YOUR_FRAMEWORK',
    classContFluid: 'YOUR_CLASSCONTFLUID',
 } only %}
    {% block contentContainerFluid %}
        {# contentContainerFluid #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>

<h4><b>- Table of parameters :</b></h4>
<table class="flat-table">
    <tbody>
    <tr>
        <th class="flat-table-th"><b>PARAMETERS</b></th>
        <th class="flat-table-th"><b>POTENTIAL</b></th>
        <th class="flat-table-th"><b>DESCRIPTION</b></th>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Content :</b></td>
        <td class="flat-table-td"><i>"String" or Another twig extension</i></td>
        <td class="flat-table-td"><i>Content of your Container Fluid</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>classContFluid :</b></td>
        <td class="flat-table-td">contFluid</td>
        <td class="flat-table-td"><i>Class of your Container Fluid</i></td>
    </tr>
    </tbody>
</table>

<h4><b>- Rendering example :</b></h4>
<ul style="list-style-type: none; padding: 0;">
    <li>
        {% spaceless %}
            <pre>
                {{- "{{ almanach_containerFluid(
    'Your Fluid Container',
    {
        classContFluid: 'contFluid',
    })
}}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        {{ almanach_containerFluid(
            'Your Fluid Container',
            {
                classContFluid: 'contFluid',
            })
        }}
    </li>
</ul>
<hr><br>