<h3><b>Dropdown buttons</b></h3>
<h4>+ Use</h4>
<ul>
    <lit>
        <b>with twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_dropdownButton($content, $framework, $theme = 'default', $size = 'default', $state = 'default', $border = 'default', $class = [], $attr = [], $tag = null, $link = null) }}"|e -}}
            </pre>
        {% endspaceless %}
    </lit
    <li>
        <b>with twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_dropdownButton.html.twig' with {content: content, framework: framework, ... } only %}
    {% block content %}
        {# content #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>
<br><h4>+ parameters:</h4>
<ul>
    <li>
        <b>content</b>: content of your dropdown button.
    </li>
    <li>
        <b>framework</b>: framework you are using.
        <ul>
            <li>bootstrap</li>
            <li>foundation</li>
        </ul>
    </li>
    <li>
        <b>theme</b>: theme of your dropdown button.
        <ul>
            <li>default</li>
            <li>error</li>
            <li>information</li>
            <li>link</li>
            <li>primary</li>
            <li>secondary</li>
            <li>success</li>
            <li>warning</li>
        </ul>
    </li>
    <b>size</b>: size of your dropdown button.
    <ul>
        <li>default</li>
        <li>extra_small</li>
        <li>small</li>
        <li>medium</li>
        <li>large</li>
        <li>expanded</li>
    </ul>
    </li>
    <b>state</b>: state of your dropdown button.
    <ul>
        <li>default</li>
        <li>active</li>
        <li>disabled</li>
    </ul>
    </li>
    <li>
        <b>border</b>: border of your dropdown button.
        <ul>
            <li>default</li>
            <li>round</li>
            <li>radius</li>
        </ul>
    </li>
</ul>
<h4>+ example</h4>
<ul style="list-style-type: none">
    <li>
        {{ almanach_dropdownButton( 'DropdownButton', framework) }}
        {{ almanach_dropdownButton( 'DropdownButton', framework, {
            size: 'small',
            theme: 'error',
            border: 'radius',
        }) }}

        {{ almanach_dropdownButton( 'DropdownButton', framework, {
            theme: 'error',
            size: 'small',
            state: 'active',
            border: 'radius',
        }) }}

        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_dropdownButton.html.twig' with {framework: framework, theme: 'success', size: 'large', state: 'default', border: 'round'} only %}
            {% block content %}
                DropdownButton
            {% endblock %}
        {% endembed %}

        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_dropdownButton.html.twig' with {framework: framework, theme: 'success', size: 'large', state: 'disabled', border: 'round'} only %}
            {% block content %}
                DropdownButton
            {% endblock %}
        {% endembed %}
    </li>
</ul>
