<h3><b><i>Dropdown buttons</i></b></h3>
<h4><b>- Global use :</b></h4>
<ul>
    <li>
        <b>Twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_dropdownButton(
    $content,
    {
        theme: 'YOUR_THEME',
        size: 'YOUR_SIZE',
        state: 'YOUR_STATE',
        border: 'YOUR_BORDER',
    })
}}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        <b>Twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_dropdownButton.html.twig' with {
    content: 'YOUR_CONTENT',
    framework: 'YOUR_FRAMEWORK',
    theme: 'YOUR_THEME',
    size: 'YOUR_SIZE',
    state: 'YOUR_STATE',
    border: 'YOUR_BORDER',
 } only %}
    {% block contentDropdownButton %}
        {# contentDropdownButton #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>

<h4><b>- Table of parameters :</b></h4>
<table class="flat-table">
    <tbody>
    <tr>
        <th class="flat-table-th"><b>PARAMETERS</b></th>
        <th class="flat-table-th"><b>POTENTIAL</b></th>
        <th class="flat-table-th"><b>DESCRIPTION</b></th>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Content :</b></td>
        <td class="flat-table-td"><i>"String" or Another twig extension</i></td>
        <td class="flat-table-td"><i>Content of your Dropdown Button</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Theme :</b></td>
        <td class="flat-table-td">
            <ul style="list-style-type: none; padding: 0;">
                <li><i>default</i></li>
                <li><i>error</i></li>
                <li><i>information</i></li>
                <li><i>link</i></li>
                <li><i>primary</i></li>
                <li><i>secondary</i></li>
                <li><i>success</i></li>
                <li><i>warning</i></li>
            </ul>
        </td>
        <td class="flat-table-td"><i>Theme of your Dropdown Button</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Size :</b></td>
        <td class="flat-table-td">
            <ul style="list-style-type: none; padding: 0;">
                <li><i>default</i></li>
                <li><i>extra_small</i></li>
                <li><i>small</i></li>
                <li><i>medium</i></li>
                <li><i>large</i></li>
                <li><i>expanded</i></li>
            </ul>
        </td>
        <td class="flat-table-td"><i>Size of your Dropdown Button</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>State :</b></td>
        <td class="flat-table-td">
            <ul style="list-style-type: none; padding: 0;">
                <li><i>default</i></li>
                <li><i>active</i></li>
                <li><i>disabled</i></li>
            </ul>
        </td>
        <td class="flat-table-td"><i>State of your Dropdown Button</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Border :</b></td>
        <td class="flat-table-td">
            <ul style="list-style-type: none; padding: 0;">
                <li><i>default</i></li>
                <li><i>round</i></li>
                <li><i>radius</i></li>
            </ul>
        </td>
        <td class="flat-table-td"><i>Border of your Dropdown Button</i></td>
    </tr>
    </tbody>
</table>

<h4><b>- Rendering example :</b></h4>
<ul style="list-style-type: none; padding: 0;">
    <li>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_dropdownButton(
    'DropdownButton',
    {
        theme: 'error',
        size: 'large',
        border: 'radius',
    })
}}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        {{ almanach_dropdownButton(
            'DropdownButton',
            {
                size: 'large',
                theme: 'error',
                border: 'radius',
            })
        }}
    </li>
</ul>
<hr><br>