<h2>Inline Text</h2>
<h4>+ Use</h4>
<ul>
    <li>
        <b>with twig extension:</b>
            <pre>
{{ "{{ alamanach_inlineText($content, $framework, $inline = 'default', $class = [], $attributes = [], $tag = null, $link = null) }}"|e }}</pre>
    </li>
    <li>
        <b>with twig embed:</b>
            <pre>
{{ "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_inlineText.html.twig' with {content: content, framework: framework, ... } only %}"|e }}
{{ "    {% block content %}"|e }}
{{ "        {# content #}"|e }}
{{ "    {% endblock %}"|e }}
{{ "{% endembed %}"|e }}</pre>
    </li>
</ul>
<br><h4>+ parameters:</h4>
<ul>
    <li>
        <b>content</b>: content of your inline text.
    </li>
    <li>
        <b>framework</b>: framework you are using.
        <ul>
            <li>bootstrap</li>
            <li>foundation</li>
        </ul>
    </li>
    <li>
        <b>inline</b>: inline of your text.
        <ul>
            <li>default</li>
            <li>marked</li>
            <li>deleted</li>
            <li>strike</li>
            <li>inserted</li>
            <li>underlined</li>
            <li>small</li>
            <li>bold</li>
            <li>italic</li>
        </ul>
    </li>
</ul>
<h4>+ example</h4>
<ul style="list-style-type: none">
    <li>
        {{ almanach_inlineText('Your "deleted" inline text !', framework, 'deleted') }}
    </li>
    <li>
        {{ almanach_inlineText('Your "inserted" inline text !', framework, 'inserted') }}
    </li>
    <li>
        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_inlineText.html.twig' with {framework: framework, inline: 'bold' } only %}
            {% block content %}
                Your "bold" inline text !
            {% endblock %}
        {% endembed %}
    </li>
    <li>
        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_inlineText.html.twig' with {framework: framework, inline: 'italic' } only %}
            {% block content %}
                Your "italic" inline text !
            {% endblock %}
        {% endembed %}
    </li>
</ul>
