<h3><b><i>Inline Text</i></b></h3>
<h4><b>- Global use :</b></h4>
<ul>
    <li>
        <b>Twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_inlineText(
    $content,
    $framework, {
        inline: 'YOUR_INLINE',
    })
}}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        <b>Twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_inlineText.html.twig' with {
    content: 'YOUR_CONTENT',
    framework: 'YOUR_FRAMEWORK',
    inline: 'YOUR_INLINE',
 } only %}
    {% block contentInlineText %}
        {# contentInlineText #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>

<h4><b>- Table of parameters :</b></h4>
<table class="flat-table">
    <tbody>
    <tr>
        <th class="flat-table-th"><b>PARAMETERS</b></th>
        <th class="flat-table-th"><b>POTENTIAL</b></th>
        <th class="flat-table-th"><b>DESCRIPTION</b></th>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Content :</b></td>
        <td class="flat-table-td"><i>"String" or Another twig extension</i></td>
        <td class="flat-table-td"><i>Content of your Inline Text</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Framework :</b></td>
        <td class="flat-table-td"><i>Bootstrap / Foundation</i></td>
        <td class="flat-table-td"><i>The framework that you want to use</i></td>
    </tr>
    <tr>
        <td class="flat-table-td"><b>Inline :</b></td>
        <td class="flat-table-td">
            <ul style="list-style-type: none; padding: 0;">
                <li><i>default</i></li>
                <li><i>marked</i></li>
                <li><i>deleted</i></li>
                <li><i>strike</i></li>
                <li><i>inserted</i></li>
                <li><i>underlined</i></li>
                <li><i>small</i></li>
                <li><i>bold</i></li>
                <li><i>italic</i></li>
            </ul>
        </td>
        <td class="flat-table-td"><i>Inline of your Inline Text</i></td>
    </tr>
    </tbody>
</table>

<h4><b>- Rendering example :</b></h4>
<ul style="list-style-type: none; padding: 0;">
    <li>
        {% spaceless %}
            <pre>
                {{- "{{ almanach_inlineText(
    'Your 'deleted' inline text !',
    framework, {
        inline: 'deleted',
    })
}}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        {{ almanach_inlineText(
            'Your "deleted" inline text !',
            framework, {
                inline: 'deleted',
            })
        }}
    </li>
</ul>
<hr><br>
