<h3><b>Titles + element</b></h3>
<h4>- Use</h4>
<h4>Try the fusion of a title and a label :</h4>
<ul>
    <li>
        {{ almanach_inlineText('twig extension:', framework, 'bold') }}
        <pre>
{{  "{{ almanach_title($content1 ~ almanach_label($content, framework, $theme = 'default', $border = 'default'), framework, $size = 'default') }}"|e  }}</pre>
    </li>
</ul>
<br><h4>- parameters:</h4>
<ul>
    <li>
        <b>content1</b>: content of your title.
    </li>
    <li>
        <b>content2</b>: content of your label.
    </li>
    <li>
        <b>framework</b>: framework you are using.
        <ul>
            <li>bootstrap</li>
            <li>foundation</li>
        </ul>
    </li>
    <li>
        <b>order</b>: size of your title.
        <ul>
            <li>default</li>
            <li>h1</li>
            <li>h2</li>
            <li>h3</li>
            <li>h4</li>
            <li>h5</li>
            <li>h6</li>
        </ul>
    </li>
    <li>
        <b>theme</b>: theme of your label.
        <ul>
            <li>default</li>
            <li>error</li>
            <li>information</li>
            <li>link</li>
            <li>primary</li>
            <li>secondary</li>
            <li>success</li>
            <li>warning</li>
        </ul>
    </li>
    <li>
        <b>border</b>: border of your label.
        <ul>
            <li>default</li>
            <li>round</li>
            <li>radius</li>
        </ul>
    </li>
</ul>
<h4>- example Title + Label :</h4>
<ul style="list-style-type: none">
    <li>
        {{ almanach_title(
            'h2' ~ ' ' ~ '- Voici le projet Almanach !' ~ almanach_label(
            'This is awesome',
            framework,
            'success',
            'radius'
            ),
        framework,
        'h2'
        ) }}
    </li>
    <li>
        {{ almanach_title(
            'h4' ~ ' ' ~ '- Voici le projet Almanach !' ~ almanach_label(
            'This is awesome',
            framework,
            'success',
            'radius'
            ),
        framework,
        'h4'
        ) }}
    </li>
</ul><br>
<h4>- We can also merge with other feature/option as transformText :</h4>
<ul style="list-style-type: none">
    <li>
        {{ almanach_title(
            'h2' ~ ' ' ~ '- Voici le projet Almanach !' ~ almanach_inlineText(
            'This is awesome',
            framework,
            'small'
            ),
        framework,
        'h2'
        ) }}
    </li>
    <li>
        {{ almanach_title(
            'h4' ~ ' ' ~ '- Voici le projet Almanach !' ~ almanach_inlineText(
            'This is awesome',
            framework,
            'small'
            ),
        framework,
        'h4'
        ) }}
    </li>
</ul>
