<h3><b>Transform Text</b></h3>
<h4>- Use</h4>
<ul>
    <li>
        <b>with twig extension:</b>
        {% spaceless %}
            <pre>
                {{- "{{ alamanach_transformText($content, $framework, $transform = 'default', $class = [], $attr = [], $tag = null, $link = null) }}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        <b>with twig embed:</b>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_transformText.html.twig' with {content: content, framework: framework, ... } only %}
    {% block content %}
        {# content #}
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
</ul>
<br><h4>- parameters:</h4>
<ul>
    <li>
        <b>content</b>: content of your title.
    </li>
    <li>
        <b>framework</b>: framework you are using.
        <ul>
            <li>bootstrap</li>
            <li>foundation</li>
        </ul>
    </li>
    <li>
        <b>transform</b>: transform of your text.
        <ul>
            <li>default</li>
            <li>lower</li>
            <li>upper</li>
            <li>capital</li>
        </ul>
    </li>
</ul>
<h4>- example</h4>
<ul style="list-style-type: none">
    <li>
        {% spaceless %}
            <pre>
                {{- "{{ almanach_transformText('Your 'uppercase' text !', framework, 'upper') }}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        {{ almanach_transformText('Your "uppercase" text !', framework,
            {
                transform: 'upper',
            },
            ['coucou', 'zizi'],
            {
                id: 'test'
            }
        )}}
    </li>
    <hr>
    <li>
        {% spaceless %}
            <pre>
                {{- "{% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_transformText.html.twig' with {framework: framework, transform: 'capital' } only %}
    {% block content %}
        Your 'capitalize' text !
    {% endblock %}
{% endembed %}"|e -}}
            </pre>
        {% endspaceless %}
    </li>
    <li>
        {% embed 'AlmanachBundle:bricks/' ~ framework ~ ':_transformText.html.twig' with {framework: framework, transform: 'capital' } only %}
            {% block contentTransformText %}
                Your "capitalize" text !
            {% endblock %}
        {% endembed %}
    </li>
</ul>
